.mediaViewInfo {
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Home;
	--web-view-id: Home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_17 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 5px;
}
#Rectangle_1 {
	opacity: 0.52;
	position: absolute;
	width: 1920px;
	height: 894px;
	left: 0px;
	top: 186px;
	overflow: visible;
}
#Rectangle_1_v {
	fill: rgba(185,72,72,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_v {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 186px;
	left: 0px;
	top: 0px;
}
#s {
	position: absolute;
	width: 194px;
	height: 181px;
	left: 12px;
	top: 5px;
	overflow: visible;
}
#s_x {
	opacity: 0.67;
	position: absolute;
	width: 704px;
	height: 524px;
	left: 608px;
	top: 244px;
	overflow: visible;
}
#Rectangle_6 {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1182px;
	top: 94px;
}
#Rectangle_4 {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 53px;
	left: 1603px;
	top: 98px;
}
#Rectangle_7 {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1382px;
	top: 96px;
}
#Home_ {
	left: 1203.5px;
	top: 97.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#Login {
	left: 1410px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: login.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#ARSENAL_MANAGEMENT_SYSTEM {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 9px rgba(122, 11, 187, 0.439));
	left: 222px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 713px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
	text-transform: uppercase;
}
#About_Us {
	left: 1630px;
	top: 101px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: About.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#ARSENAL_MANAGEMENT_SYSTEM_ {
	mix-blend-mode: darken;
	filter: drop-shadow(6px 6px 9px rgba(122, 11, 187, 0.439));
	left: 42px;
	top: 768px;
	position: absolute;
	overflow: visible;
	width: 1838px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 130px;
	color: rgba(242,90,90,1);
	text-transform: uppercase;
}