.mediaViewInfo {
	--web-view-name: About;
	--web-view-id: About;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: About;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#About {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: About;
	--web-view-id: About;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_17_ {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17_ {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectangle_1_ {
	opacity: 0.52;
	position: absolute;
	width: 1920px;
	height: 894px;
	left: 0px;
	top: 186px;
	overflow: visible;
}
#Rectangle_1_ba {
	fill: rgba(185,72,72,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_ba {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 186px;
	left: 0px;
	top: 0px;
}
#s_bb {
	position: absolute;
	width: 194px;
	height: 181px;
	left: 6px;
	top: 0px;
	overflow: visible;
}
#s_bc {
	opacity: 0.28;
	position: absolute;
	width: 964px;
	height: 894px;
	left: 398px;
	top: 163px;
	overflow: visible;
}
#Rectangle_6_bd {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6_bd {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1182px;
	top: 71px;
}
#Rectangle_4_be {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_be {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 53px;
	left: 1603px;
	top: 75px;
}
#Rectangle_7_bf {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7_bf {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1382px;
	top: 73px;
}
#Home_bg {
	left: 1203.5px;
	top: 74.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Login_bh {
	left: 1410px;
	top: 78px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: login.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#ARSENAL_MANAGEMENT_SYSTEM_bi {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 9px rgba(122, 11, 187, 0.439));
	left: 217px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 713px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
	text-transform: uppercase;
}
#About_Us_bj {
	left: 1630px;
	top: 78px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#__Ideally_for_military_police_ {
	left: 30px;
	top: 807px;
	position: absolute;
	overflow: visible;
	width: 1892px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#This_smart_weapons_management_ {
	left: 36px;
	top: 310px;
	position: absolute;
	overflow: visible;
	width: 1812px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Authorization_and_issuance_of_ {
	left: 36px;
	top: 473px;
	position: absolute;
	overflow: visible;
	width: 1757px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#The_system_also_includes_some_ {
	left: 30px;
	top: 728px;
	position: absolute;
	overflow: visible;
	width: 1658px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}