.mediaViewInfo {
	--web-view-name: Admin;
	--web-view-id: Admin;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Admin;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Admin {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Admin;
	--web-view-id: Admin;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_23_gm {
	fill: rgba(158,198,167,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23_gm {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#s_gn {
	position: absolute;
	width: 341px;
	height: 259px;
	left: 790px;
	top: 49px;
	overflow: visible;
}
#Kote {
	left: 594.5px;
	top: 483.5px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Kote_NCO {
	left: 604px;
	top: 569px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_35_gq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_gq {
	position: absolute;
	overflow: visible;
	width: 367px;
	height: 49px;
	left: 960px;
	top: 473px;
}
#Rectangle_36_gr {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_gr {
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 47px;
	left: 960px;
	top: 557px;
}
#Time_of_Opening_Kote_ {
	left: 594px;
	top: 655px;
	position: absolute;
	overflow: visible;
	width: 365px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_41_gt {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_41_gt {
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 55px;
	left: 960px;
	top: 635px;
}
#Time_of_Closing_Kote {
	left: 594px;
	top: 727px;
	position: absolute;
	overflow: visible;
	width: 357px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_43_gv {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_43_gv {
	position: absolute;
	overflow: visible;
	width: 369px;
	height: 51px;
	left: 960px;
	top: 721px;
}
#Image_2_gw {
	position: absolute;
	width: 324px;
	height: 324px;
	left: 1360px;
	top: 441px;
	overflow: visible;
}
#Rectangle_46 {
	fill: rgba(255,203,203,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_46 {
	position: absolute;
	overflow: visible;
	width: 418px;
	height: 99px;
	left: 776px;
	top: 839px;
}
#Report_gy {
	left: 830.5px;
	top: 836.5px;
	position: absolute;
	overflow: visible;
	width: 310px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Report.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 105px;
	color: rgba(255,0,0,1);
}
#ADMIN {
	left: 848px;
	top: 348px;
	position: absolute;
	overflow: visible;
	width: 226px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 76px;
	color: rgba(106,95,19,1);
	text-decoration: underline;
}