.mediaViewInfo {
	--web-view-name: Login-1;
	--web-view-id: Login-1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Login-1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Login-1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Login-1;
	--web-view-id: Login-1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_17_bq {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17_bq {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Rectangle_1_br {
	fill: rgba(185,72,72,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_br {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 186px;
	left: 0px;
	top: 0px;
}
#ARSENAL_MANAGEMENT_SYSTEM_bs {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 9px rgba(122, 11, 187, 0.439));
	left: 230px;
	top: 21px;
	position: absolute;
	overflow: visible;
	width: 713px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
	text-transform: uppercase;
}
#s_bt {
	position: absolute;
	width: 194px;
	height: 181px;
	left: 7px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6_bu {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6_bu {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1185px;
	top: 99px;
}
#Rectangle_4_bv {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_bv {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 53px;
	left: 1605px;
	top: 99px;
}
#Rectangle_7_bw {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7_bw {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1389px;
	top: 99px;
}
#Home_bx {
	left: 1207.5px;
	top: 102.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Login_by {
	left: 1417px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(255,255,255,1);
}
#Rectangle_1_bz {
	opacity: 0.52;
	position: absolute;
	width: 1920px;
	height: 894px;
	left: 0px;
	top: 186px;
	overflow: visible;
}
#Rectangle_18 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 948px;
	height: 844px;
	left: 486px;
	top: 217px;
}
#USER_ID_ {
	left: 556px;
	top: 623px;
	position: absolute;
	overflow: visible;
	width: 182px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#PASSWORD_ {
	left: 556px;
	top: 742px;
	position: absolute;
	overflow: visible;
	width: 262px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Rectangle_20 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 508px;
	height: 59px;
	left: 818px;
	top: 733px;
}
#Forget_Password {
	left: 1052px;
	top: 819px;
	position: absolute;
	overflow: visible;
	width: 277px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
# {
	opacity: 0.5;
	left: 833.5px;
	top: 742.5px;
	position: absolute;
	overflow: visible;
	width: 282px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 79px;
	color: rgba(0,0,0,1);
}
#Rectangle_21 {
	fill: rgba(207,77,77,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 72px;
	left: 687px;
	top: 892px;
}
#Rectangle_22 {
	fill: rgba(207,77,77,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 230px;
	height: 72px;
	left: 1049px;
	top: 892px;
}
#Login_b {
	left: 1086px;
	top: 899px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: kotenco.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
}
#Signup_b {
	left: 704px;
	top: 896px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Signup.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
}
#Line_11 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 14.753px;
	height: 16.659px;
	left: 1279.5px;
	top: 638.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_12 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_12 {
	overflow: visible;
	position: absolute;
	width: 12.8px;
	height: 16.6px;
	left: 1293.5px;
	top: 638.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_13 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_13 {
	overflow: visible;
	position: absolute;
	width: 509px;
	height: 1px;
	left: 817.5px;
	top: 733.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_14 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_14 {
	overflow: visible;
	position: absolute;
	width: 498px;
	height: 1px;
	left: 823.5px;
	top: 668.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Admin_ce {
	left: 1186px;
	top: 272px;
	position: absolute;
	overflow: visible;
	width: 169px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: adminlogin.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(247,5,5,1);
	text-decoration: underline;
}
#KOTE_NCO_cf {
	opacity: 0.5;
	left: 834px;
	top: 614px;
	position: absolute;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Image_3 {
	position: absolute;
	width: 282px;
	height: 282px;
	left: 819px;
	top: 268px;
	overflow: visible;
}
#About_Us_ch {
	left: 1614px;
	top: 105px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: About.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}