.mediaViewInfo {
	--web-view-name: Maintenance;
	--web-view-id: Maintenance;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Maintenance;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Maintenance {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Maintenance;
	--web-view-id: Maintenance;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_23_h {
	fill: rgba(158,198,167,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23_h {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#s_h {
	position: absolute;
	width: 341px;
	height: 259px;
	left: 204px;
	top: 15px;
	overflow: visible;
}
#Kote_h {
	left: 1376.5px;
	top: 261.5px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Kote_NCO_h {
	left: 1378px;
	top: 326px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_35_h {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35_h {
	position: absolute;
	overflow: visible;
	width: 154px;
	height: 49px;
	left: 1564px;
	top: 249px;
}
#Rectangle_36_h {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36_h {
	position: absolute;
	overflow: visible;
	width: 154px;
	height: 51px;
	left: 1564px;
	top: 319px;
}
#Image_2_ia {
	position: absolute;
	width: 161px;
	height: 161px;
	left: 1736px;
	top: 222px;
	overflow: visible;
}
#Line_24 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_24 {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 1px;
	left: 0.5px;
	top: 383.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Name_of_Weapon {
	left: 87px;
	top: 443px;
	position: absolute;
	overflow: visible;
	width: 297px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_50 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_50 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 38px;
	left: 406px;
	top: 443px;
}
#Body_Number_ie {
	left: 87px;
	top: 503px;
	position: absolute;
	overflow: visible;
	width: 234px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_51 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_51 {
	position: absolute;
	overflow: visible;
	width: 205px;
	height: 38px;
	left: 406px;
	top: 503px;
}
#Rectangle_53 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_53 {
	position: absolute;
	overflow: visible;
	width: 192px;
	height: 64px;
	left: 419px;
	top: 563px;
}
#Search {
	left: 458px;
	top: 576px;
	position: absolute;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Maintenance_ii {
	left: 170.5px;
	top: 267.5px;
	position: absolute;
	overflow: visible;
	width: 473px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 84px;
	color: rgba(0,0,0,1);
}
#Rectangle_52 {
	fill: rgba(218,218,218,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_52 {
	position: absolute;
	overflow: visible;
	width: 1215px;
	height: 576px;
	left: 682px;
	top: 422px;
}
#Image_16 {
	position: absolute;
	width: 108px;
	height: 108px;
	left: 47px;
	top: 239px;
	overflow: visible;
}
#Rectangle_54 {
	fill: rgba(175,199,247,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_54 {
	position: absolute;
	overflow: visible;
	width: 1046px;
	height: 532px;
	left: 705px;
	top: 443px;
}
#Line_25 {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_25 {
	overflow: visible;
	position: absolute;
	width: 1046px;
	height: 1px;
	left: 704.5px;
	top: 667.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Name_of_weapon_ {
	left: 725px;
	top: 453px;
	position: absolute;
	overflow: visible;
	width: 293px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Body_Number_ {
	left: 726px;
	top: 505px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Name_of_the_person_ {
	left: 725px;
	top: 563px;
	position: absolute;
	overflow: visible;
	width: 335px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#ID1_Last_Time_Fire___2_Last_Ti {
	left: 737.5px;
	top: 709.5px;
	position: absolute;
	overflow: visible;
	width: 717px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 53px;
	color: rgba(0,0,0,1);
}
#Image_2_ir {
	position: absolute;
	width: 171px;
	height: 171px;
	left: 1564px;
	top: 471px;
	overflow: visible;
}
#Company__ {
	left: 725px;
	top: 615px;
	position: absolute;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Rectangle_55 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_55 {
	position: absolute;
	overflow: visible;
	width: 559px;
	height: 68px;
	left: 1159px;
	top: 694px;
}
#Rectangle_56 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_56 {
	position: absolute;
	overflow: visible;
	width: 250px;
	height: 68px;
	left: 1468px;
	top: 762px;
}
#Rectangle_57 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_57 {
	position: absolute;
	overflow: visible;
	width: 513px;
	height: 65px;
	left: 1205px;
	top: 829px;
}
#Rectangle_58 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_58 {
	position: absolute;
	overflow: visible;
	width: 513px;
	height: 56px;
	left: 1205px;
	top: 894px;
}
#Ellipse_2 {
	fill: rgba(38,54,54,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: kotenco.html;
	cursor: pointer;
}
.Ellipse_2 {
	position: absolute;
	overflow: visible;
	width: 106px;
	height: 80px;
	left: 81px;
	top: 26px;
}
#Line_52 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_52 {
	overflow: visible;
	position: absolute;
	width: 53px;
	height: 5px;
	left: 109.5px;
	top: 66.5px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: kotenco.html;
	cursor: pointer;
}
#Line_53 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_53 {
	overflow: visible;
	position: absolute;
	width: 23.345px;
	height: 21.717px;
	left: 105.5px;
	top: 66.5px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: kotenco.html;
	cursor: pointer;
}
#Line_54 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_54 {
	overflow: visible;
	position: absolute;
	width: 23.124px;
	height: 19.904px;
	left: 105.5px;
	top: 50.5px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: kotenco.html;
	cursor: pointer;
}