.mediaViewInfo {
	--web-view-name: Signup;
	--web-view-id: Signup;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Signup;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Signup {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Signup;
	--web-view-id: Signup;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_17_k {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_17_k {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1063px;
	left: 0px;
	top: 17px;
}
#Rectangle_1_k {
	opacity: 0.52;
	position: absolute;
	width: 1920px;
	height: 894px;
	left: 0px;
	top: 186px;
	overflow: visible;
}
#Rectangle_65 {
	fill: rgba(255,255,255,1);
	stroke: rgba(9,9,9,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_65 {
	position: absolute;
	overflow: visible;
	width: 1666px;
	height: 855px;
	left: 156px;
	top: 195px;
}
#Rectangle_1_la {
	fill: rgba(185,72,72,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1_la {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 186px;
	left: 0px;
	top: -1px;
}
#ARSENAL_MANAGEMENT_SYSTEM_k {
	mix-blend-mode: darken;
	filter: drop-shadow(0px 3px 9px rgba(122, 11, 187, 0.439));
	left: 219px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 713px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
	text-transform: uppercase;
}
#s_la {
	position: absolute;
	width: 194px;
	height: 181px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_6_lb {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_6_lb {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1182px;
	top: 84px;
}
#Rectangle_4_lc {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4_lc {
	position: absolute;
	overflow: visible;
	width: 220px;
	height: 53px;
	left: 1583px;
	top: 87px;
}
#Rectangle_7_ld {
	fill: rgba(204,186,186,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7_ld {
	position: absolute;
	overflow: visible;
	width: 169px;
	height: 53px;
	left: 1392px;
	top: 87px;
}
#Home_le {
	left: 1204.5px;
	top: 88.5px;
	position: absolute;
	overflow: visible;
	width: 126px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Login_lf {
	left: 1420px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: login.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Rectangle_21_lg {
	fill: rgba(207,77,77,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21_lg {
	position: absolute;
	overflow: visible;
	width: 242px;
	height: 88px;
	left: 1411px;
	top: 930px;
}
#Signup_lh {
	transform: matrix(1,0,0,1,1434,941) rotate(0deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 198px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: index.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
}
#About_Us_li {
	left: 1595px;
	top: 92px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: About.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	color: rgba(0,0,0,1);
}
#Rank__lj {
	left: 241px;
	top: 296px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#SIGNUP {
	left: 881px;
	top: 210px;
	position: absolute;
	overflow: visible;
	width: 217px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 67px;
	color: rgba(37,37,37,1);
	text-decoration: underline;
}
#User_name_ll {
	left: 241px;
	top: 361px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Company_Battery__Squadron__lm {
	left: 241px;
	top: 584px;
	position: absolute;
	overflow: visible;
	width: 665px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#BA_No_Snk_No_ln {
	left: 241px;
	top: 517px;
	position: absolute;
	overflow: visible;
	width: 335px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(2,2,2,1);
}
#Kote__lo {
	left: 242px;
	top: 646px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(2,2,2,1);
}
#Unit_lp {
	left: 242px;
	top: 714px;
	position: absolute;
	overflow: visible;
	width: 101px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(2,2,2,1);
}
#Brigade_lq {
	left: 242px;
	top: 777px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(2,2,2,1);
}
#Line_42 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_42 {
	overflow: visible;
	position: absolute;
	width: 648px;
	height: 1px;
	left: 493.5px;
	top: 410.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_43 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_43 {
	overflow: visible;
	position: absolute;
	width: 558.004px;
	height: 3px;
	left: 583.5px;
	top: 570.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_44 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_44 {
	overflow: visible;
	position: absolute;
	width: 751.004px;
	height: 4px;
	left: 390.5px;
	top: 694.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_45 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_45 {
	overflow: visible;
	position: absolute;
	width: 215.005px;
	height: 2px;
	left: 926.5px;
	top: 624.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_46 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_46 {
	overflow: visible;
	position: absolute;
	width: 760.005px;
	height: 5px;
	left: 381.5px;
	top: 753.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_49 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_49 {
	overflow: visible;
	position: absolute;
	width: 769.004px;
	height: 4px;
	left: 372.5px;
	top: 338.5px;
	transform: matrix(1,0,0,1,0,0);
}
#DivisionFormation__lx {
	left: 241px;
	top: 846px;
	position: absolute;
	overflow: visible;
	width: 426px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(2,2,2,1);
}
#Line_47 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_47 {
	overflow: visible;
	position: absolute;
	width: 676px;
	height: 1px;
	left: 465.5px;
	top: 816.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_48 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_48 {
	overflow: visible;
	position: absolute;
	width: 452.004px;
	height: 3px;
	left: 689.5px;
	top: 892.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Password {
	left: 241px;
	top: 429px;
	position: absolute;
	overflow: visible;
	width: 220px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Line_50 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_50 {
	overflow: visible;
	position: absolute;
	width: 661.006px;
	height: 5px;
	left: 480.5px;
	top: 474.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_2_l {
	position: absolute;
	width: 562px;
	height: 562px;
	left: 1212px;
	top: 244px;
	overflow: visible;
}
#Mobile_No_ {
	left: 245px;
	top: 925px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Line_51 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_51 {
	overflow: visible;
	position: absolute;
	width: 615px;
	height: 1px;
	left: 526.5px;
	top: 973.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Type_of__Account {
	left: 1212px;
	top: 792px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Rectangle_66 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_66 {
	position: absolute;
	overflow: visible;
	width: 219px;
	height: 101px;
	left: 1434px;
	top: 792px;
}