.mediaViewInfo {
	--web-view-name: Unlock;
	--web-view-id: Unlock;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Unlock;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Unlock {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Unlock;
	--web-view-id: Unlock;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_23_fn {
	fill: rgba(158,198,167,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_23_fn {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#s_fo {
	position: absolute;
	width: 461px;
	height: 375px;
	left: 691px;
	top: 13px;
	overflow: visible;
}
#Path_1 {
	opacity: 0.62;
	fill: rgba(28,108,81,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 307px;
	height: 53.222px;
	left: 779px;
	top: 643px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_15 {
	position: absolute;
	width: 307px;
	height: 173px;
	left: 779px;
	top: 407px;
	overflow: visible;
}
#BD_08 {
	left: 888px;
	top: 652px;
	position: absolute;
	overflow: visible;
	width: 91px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(0,0,0,1);
}
#Quantity_ {
	left: 629.5px;
	top: 758.5px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Body_Number {
	left: 630px;
	top: 831px;
	position: absolute;
	overflow: visible;
	width: 243px;
	white-space: nowrap;
	text-align: center;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 39px;
	color: rgba(0,0,0,1);
}
#Rectangle_35 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_35 {
	position: absolute;
	overflow: visible;
	width: 253px;
	height: 38px;
	left: 887px;
	top: 758px;
}
#Rectangle_36 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_36 {
	position: absolute;
	overflow: visible;
	width: 253px;
	height: 38px;
	left: 887px;
	top: 831px;
}
#Rectangle_39 {
	fill: rgba(28,108,81,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_39 {
	position: absolute;
	overflow: visible;
	width: 167px;
	height: 96px;
	left: 960px;
	top: 930px;
}
#Unlock_fx {
	left: 968.5px;
	top: 952.5px;
	position: absolute;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Issue_Complete.html;
	cursor: pointer;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}
#Rectangle_40 {
	fill: rgba(245,112,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_40 {
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 94px;
	left: 676px;
	top: 930px;
}
#Lock {
	left: 712.5px;
	top: 952.5px;
	position: absolute;
	overflow: visible;
	width: 104px;
	white-space: nowrap;
	text-align: left;
	font-family: Okinawa;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(0,0,0,1);
}